@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted-background {
	background-color: #0f172a;
	background-image: radial-gradient(#1e293b 1px, transparent 1px);
	background-size: 24px 24px;
}